.form-check-input {
    background: transparent;
}

.card-container {
    min-height: 45px;
    padding: 5px;
}

input:focus .form-check-input {
    text-align: left;
}

.form-check-input {
    text-align: center;
}

.bi-search {
    margin-top: 10px;
    margin-left: -9px;
}

.tooltiptext {
    visibility: hidden;
    width: 100px;
    /* background-color: black; */
    /* color: #fff; */
    text-align: center;
    border-radius: 6px;
    /* padding: 5px 0; */
    position: absolute;
    z-index: 1;
    top: 20px;
    left: 15px;
  }
  
  .deleteIcon:hover .tooltiptext {
    visibility: visible;
  }

  .newIcon:hover .tooltiptext {
    visibility: visible;
  }

  .saveIcon:hover .tooltiptext {
    visibility: visible;
  }

  .collapseIcon:hover .tooltiptext {
    visibility: visible;
  }

  .extandIcon:hover .tooltiptext {
    visibility: visible;
  }

  .fit-content {
      max-width: 90%;
  }

  @media screen and (max-device-width: 480px){
    .not-on-mobile {
      display:none;
    }

    .card-container {
      display: flex;
    }
  }
